<%= form_for([@recipe, @recipe.recipe_ingredients.build]) do |f| %>
  <form class="form-inline">
    <div class="form-group">
      <%= f.label(:ingredient_id) %>
      <%= f.collection_select(:ingredient_id, @ingredients, :id, :name, 
                              class:"form-control") %>
    </div>
    <% [:quantity, :unit].each do |attribute| %>
      <div class="form-group">
        <%= f.label(attribute) %>
        <%= f.text_field(attribute, class:"form-control") %>
      </div>
    <% end %>
    <%= f.submit(class:"btn btn-primary") %>
  </form>
<% end %>
