<%= form_for([@recipe, @recipe.recipe_ingredients.build]) do |f| %>
  <%= f.label(:ingredient_id) %>
  <div class="input-group">
    <%= f.collection_select(:ingredient_id, @ingredients, :id, :name) %>
  </div>
  <%= f.label(:quantity) %>
  <div class="input-group"><%= f.text_field(:quantity) %></div>
  <%= f.label(:unit) %>
  <div class="input-group"><%= f.text_field(:unit) %></div>
  <%= f.submit(class:"btn btn-primary") %>
<% end %>
