<div class="jumbotron">
  <div class="page-header"><h3>Ingredients</h3></div>
  <table class="table">
    <tr>
      <th>Amount</th>
      <th>Name</th>
      <th>Amount in grams</th>
      <th>Ndbno</th>
      <th>Action</th>
    </tr>
  <% @recipe_ingredients.each do |row| %>
    <tr>
      <td><%= row.quantity %> <%= row.unit.name %></td> 
      <td>
        <%= link_to row.ingredient.name, ingredient_path(row.ingredient.id) %> 
      </td>
      <td><%= row.amount_in_grams %></td> 
      <td><%= row.ingredient.ndbno %></td>
      <td>
        <%= link_to 'Edit', edit_recipe_ingredient_path(row.id) %>
        <%= link_to(
          'Delete', 
          recipe_ingredient_path(row.id), 
          method: :delete, 
          data: { confirm: 'Are you sure?' } 
        ) %>
      </td>
    </tr>
  <% end %></table>
</div>
