<ul class="list-group">
  <% @recipe_ingredients.each do |row| %>
    <li class="list-group-item">
    <%= row.quantity %> <%= row.unit.name %> (<%= row.amount_in_grams %>)
    <%= link_to row.ingredient.name, ingredient_path(row.ingredient.id) %> 
      <%= link_to 'Edit', edit_recipe_ingredient_path(row.id) %> 
      <%= link_to(
        'Delete', 
        recipe_ingredient_path(row.id), 
        method: :delete, 
        data: { confirm: 'Are you sure?' } 
      ) %>
    </li>
  <% end %>
</ul>
