<div class="jumbotron">
  <div>Nutrient Report</div>
  <% NutrientGroup.includes_nutrients.each do |group| %>
    <ul style="list-style-type:none">
      <li>
        <%= image_tag(
          "plus_sign.png",
          class: "plus-sign js-plus-sign-#{group.name.parameterize}"
        ) %>
        <%= image_tag(
          "minus_sign.png",
          class: "minus-sign js-minus-sign-#{group.name.parameterize}",
          style: "display:none"
        ) %>
        <%= group.name %>
      </li>
    </ul>
    <div class="js-nutrient-info-<%= group.name.parameterize %>" style="display:none">
      <table class="table">
        <tr>
          <th>Nutrient</th>
          <th>Unit</th>
          <th>Amount</th>
          <th>Percent of RDA</th>
          <th>UL</th>
        </tr>
      <% nutrition_standard_foods.each do |record| %>
        <% if group.nutrients.ids.include?(record['id'].to_i) %>
          <% nutrient = Nutrient.find_by(name: record['name']) %>
          <tr>
            <td><%= nutrient.name %></td>
            <td><%= record['amt_consumed_unit'] %></td>
            <td>
              <%= intake = (
                  record['amt_consumed'].to_f +
                  Food.sum do |food|
                    meal_plan&.nutrient_intake_from_custom_food(
                      food,
                      nutrient.name
                    ) || 0
                  end
                ).round(2)
              %>
            </td>
            <td>
              <%= consumer.consumer_nutrients.find_by(nutrient_id: nutrient.id)
                &.percent_rda(intake, number_of_days) || ''
              %>
            </td>
            <td><%= nutrient.upper_limit || '' %></td>
          </tr>
        <% end %>
      <% end %></table>
    </div>
  <% end %>
</div>
