<h2 class="text-center">Create MealPlan</h2>
<%= form_for @meal_plan do |f| %>
  <%= f.label :consumer_id %>
  <%= f.select(
    :consumer_id, 
    options_from_collection_for_select(
      @consumers, 
      'id', 
      'name', 
      class:"form-control"
    )
  ) %>
  <%= f.fields_for :meal_plan_recipes do |ff| %>
    <%= ff.collection_check_boxes(
      :recipe_id, 
      @recipes, 
      :id, 
      :name    
    ) %>
  <% end %>
  <%= f.submit("Create Meal Plan", class:"btn btn-primary") %>
</form><% end %>
