<div class="container-fluid">
  <div class="page-header">
    <h3>Meal Plan for <%= @consumer.name %> for <%= @week %></h3>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to('Weekly', meal_plan_path(@meal_plan), class: "nav-link active") %>
    </li>
    <% @meal_plan.dates.each do |date| %>
      <li class="nav-item">
        <%= link_to(
          date,
          meal_plan_meal_plan_day_path(@meal_plan, date),
          class: "nav-link"
        ) %>
      </li>
    <% end %>
  </ul>
  <% if @meal_plan.meal_plan_recipes.present? %>
    <div class="jumbotron">
      <table class="table">
        <tr>
          <th>Recipe</th>
          <th>Date</th>
          <th>For First Day?</th>
          <th>Actions</th>
        </tr>
        <% @meal_plan.meal_plan_recipes.each do |mpr| %>
          <% if mpr.recipe.present? %>
            <tr>
              <td><%= link_to mpr.recipe.name, recipe_path(mpr.recipe.id) %></td>
              <td><%= mpr.date %></td>
              <td><%= mpr.first_day_recipe %></td>
              <td>
                <%= link_to(
                  'Delete',
                  meal_plan_recipe_path(mpr),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }
                ) %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  <% end %>
  <% if @meal_plan.recipes.present? %>
    <div class="jumbotron">
      <div class="page-header"><h3>Weekly RDA Nutrient Report</h3></div>
        <% @groups.each do |group| %>
          <ul style="list-style-type:none">
            <li><strong>
              <% group_name = group.name.parameterize %>
              <%= image_tag(
                "plus_sign.png",
                class: "plus-sign js-plus-sign-#{group_name}"
              ) %>
              <%= image_tag(
                "minus_sign.png",
                class: "minus-sign js-minus-sign-#{group_name}",
                style: "display:none"
              ) %>
              <%= group.name %>
            </strong></li>
          </ul>
          <div class="js-nutrient-info-<%= group_name %>" style="display:none">
            <table class="table">
              <tr>
                <th>Nutrient</th>
                <th>Unit</th>
                <th>Consumed</th>
                <th><%= @consumer.name %>'s RDA</th>
                <th>% <%= @consumer.name %>'s</th>
                <th>UL</th>
              </tr>
            <% @aggregate_nutrient_intake.each do |record| %>
              <% if group.nutrients.ids.include?(record['id'].to_i) %>
                <tr>
                  <td><%= nutrient_name = Nutrient.nutrient_name(record) %></td>
                  <td><%= record['amt_consumed_unit'] %></td>
                  <td>
                    <%= nutrition = (
                      record['amt_consumed'].to_f +
                      @meal_plan.nutrient_intake_from_custom_food(
                        @mealsquare,
                        nutrient_name
                      ) + @meal_plan.nutrient_intake_from_custom_food(
                        @soylent,
                        nutrient_name
                      )
                    ).round(2) %>
                  </td>
                  <td>
                    <% daily_rda =
                      ConsumerNutrient.daily_rda(nutrient_name, @consumer_rdas) %>
                    <%= weekly_rda = ConsumerNutrient.weekly_rda(daily_rda) %>
                  </td>
                  <td>
                    <%= ConsumerNutrient.percent_rda(nutrition, weekly_rda) %>
                  </td>
                  <td>
                    <% upper_limit = Nutrient.upper_limit(
                      @nutrients_upper_limit,
                      nutrient_name
                    ) %>
                    <%= Nutrient.weekly_upper_limit(upper_limit) %>
                  </td>
                </tr>
              <% end %>
            <% end %></table>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
