<div class="container-fluid">
  <div class="page-header">
    <h3>Meal Plan for <%= @consumer %> for <%= @week %></h3>
  </div>
  <% if @meal_plan.meal_plan_recipes.present? %>
    <div class="jumbotron">
      <table class="table">
        <tr>
          <th>Number of Recipes</th>
          <th>Recipe</th>
          <th>Number of Servings</th>
        </tr>
        <% @meal_plan.meal_plan_recipes.each do |mpr| %>
          <% if mpr.recipe.present? %>
            <tr>
              <td><%= mpr.try(:number_of_recipes) %></td>
              <td><%= link_to mpr.recipe.name, recipe_path(mpr.recipe.id) %></td>
              <td><%= mpr.recipe.try(:number_of_servings) %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  <% end %>
  <%= render 'meal_plan_recipes/form' %>
  <% if @meal_plan.recipes.present? %>
    <%= render 'ingredient_nutrients/weekly_rda', locals: {consumer: @consumer} %>
  <% end %>
</div>
