<div class="jumbotron">
  <div><%= @meal_plan.consumer.name %>'s mealplan</div>
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <%= link_to(
        'Weekly',
        '#weekly',
        { class: "nav-link active", "data-toggle": "tab", role: "tab" },
      ) %>
    </li>
    <% @meal_plan.dates.each do |date| %>
      <li class="nav-item">
        <%= link_to(
          date,
          "##{date}",
          { class: "nav-link", "data-toggle": "tab", role: "tab" },
        ) %>
      </li>
    <% end %>
  </ul>
  <div class="tab-content">
    <div class="tab-pane fade in show active" id="weekly" role="tabpanel">
      <%= render partial: '/nutrient_report', locals: {
        consumer: @meal_plan.consumer,
        meal_plan: @meal_plan,
        number_of_days: @meal_plan.dates.last - @meal_plan.dates.first,
        nutrition: @meal_plan.nutrition(
          @meal_plan.dates.first,
          @meal_plan.dates.last,
        ),
      } %>
    </div>
    <% @meal_plan.dates.each do |date| %>
      <div class="tab-pane fade" id="<%= date %>" role="tabpanel">
        <div class="jumbotron">
          <%= form_for([@meal_plan, @meal_plan.meal_plan_recipes.build]) do |f| %>
            <%= f.hidden_field(:date, value: date) %>
            <div class="form-group">
              <%= f.label(:recipe_id, 'Add recipe to mealplan') %>
              <%= f.collection_select(
                :recipe_id,
                Recipe.order(:name),
                :id,
                :name,
                { prompt: true },
                class: 'js-dropdown form-control'
              ) %>
            </div>
            <%= f.submit('Add Recipe', class:"btn btn-success") %>
          <% end %>
        </div>
        <div class="jumbotron">
          <table class="table">
            <tr>
              <th>Recipe</th>
              <th>Actions</th>
            </tr>
            <% @meal_plan.recipes_for_date(date).each do |mpr| %>
              <tr>
                <td><%= link_to mpr.recipe.name, recipe_path(mpr.recipe) %></td>
                <td>
                  <%= link_to(
                    'Delete',
                    meal_plan_recipe_path(mpr),
                    method: :delete,
                    data: { confirm: 'Are you sure?' }
                  ) %>
                </td>
              </tr>
            <% end %>
          </table>
        </div>
        <%= render partial: '/nutrient_report', locals: {
          consumer: @meal_plan.consumer,
          meal_plan: @meal_plan,
          number_of_days: 1,
          nutrition: @meal_plan.nutrition(date, date),
        } %>
      </div>
    <% end %>
  </div>
</div>
