<div class="container-fluid">
  <div class="page-header">
    <h3>Meal Plan for <%= @consumer %> for <%= @week %></h3>
  </div>
  <% if @meal_plan.meal_plan_recipes.present? %>
    <ul class="list-group">
      <% @meal_plan.meal_plan_recipes.each do |mpr| %>
        <% if mpr.recipe.present? %>
          <li class="list-group-item">
            <%= mpr.try(:number_of_recipes) %> 
            <%= link_to mpr.recipe.name, recipe_path(mpr.recipe.id) %> 
            (<%= mpr.recipe.try(:number_of_servings) %> Servings)
          </li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  <div class="jumbotron">
    <%= render 'meal_plan_recipes/form' %>
  </div>
  <% if @meal_plan.recipes.present? %>
    <h3>Percent intake of weekly RDA</h3>
    <%= render 'ingredient_nutrients/percent_intake_of_weekly_rda' %>
    <h3>Nutrition Facts</h3>
    <%= render 'ingredient_nutrients/weekly_rda' %>
  <% end %>
</div>
