<div class="container-fluid">
  <div class="page-header">
    <h3>Meal Plan for <%= @consumer.name %> for <%= @week %></h3>
  </div>
  <ul class="nav nav-tabs">
    <li class="active"><%= link_to 'Weekly', meal_plan_path(@meal_plan) %></li>
    <% @meal_plan.dates.each do |date| %>
      <li>
        <%= link_to(date, meal_plan_meal_plan_day_path(@meal_plan, date)) %>
      </li>
    <% end %>
  </ul>
  <% if @meal_plan.meal_plan_recipes.present? %>
    <div class="jumbotron">
      <table class="table">
        <tr>
          <th>Recipe</th>
          <th>Date</th>
          <th>For First Day?</th>
          <th>Actions</th>
        </tr>
        <% @meal_plan.meal_plan_recipes.each do |mpr| %>
          <% if mpr.recipe.present? %>
            <tr>
              <td><%= link_to mpr.recipe.name, recipe_path(mpr.recipe.id) %></td>
              <td><%= mpr.date %></td>
              <td><%= mpr.first_day_recipe %></td>
              <td>
                <%= link_to 'Edit', edit_meal_plan_recipe_path(mpr) %>
                <%= link_to(
                  'Delete',
                  meal_plan_recipe_path(mpr),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }
                ) %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  <% end %>
  <% if @meal_plan.recipes.present? %>
    <%= render 'ingredient_nutrients/weekly_rda', locals: {
      consumer: @consumer,
      meal_plan: @meal_plan
    } %>
  <% end %>
</div>
