<%= form_for @consumer do |f| %>
  <form class="form-horizontal">
    <% [:name].each do |attribute| %>
      <div class="form-group">
        <%= f.label(attribute, class:"col-sm-2 control-label") %>
        <div class="col-sm-6">
          <%= f.text_field(attribute, class:"form-control") %>
        </div>
      </div>
    <% end %>
    <%= f.collection_check_boxes(
      :recipe_ids, 
      @recipes, 
      :id, 
      :name    
    ) %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <%= f.submit(class:"btn btn-primary") %>
      </div>
    </div>
  </form>
<% end %>
