<%= form_for ([@meal_plan, @meal_plan.meal_plan_recipes.build]) do |f| %>
  <form class="form-inline">
    <ul class="list-group">
      <% @recipes.each do |recipe| %>
        <li class="list-group">
          <%= check_box_tag 'recipe_id[]', recipe.id %>
          <%= label_tag recipe.name, (link_to recipe.name, recipe_path(recipe)) %>
          (<%= recipe.number_of_servings %> Servings)
        </li>
      <% end %>
    </ul>
    <%= f.submit('Add Recipes', class:"btn btn-primary") %>
  </form> 
<% end %>
