<div class="jumbotron">
  <%= form_for([@meal_plan, @meal_plan.meal_plan_recipes.build]) do |f| %>
    <%= f.label(:recipe_id) %>
    <%= f.collection_select(
      :recipe_id,
      @recipes,
      :id,
      :name
      )
    %>
    <%= f.label :number_of_recipes %>
    <%= f.text_field :number_of_recipes %>
    <%= f.submit('Add Recipe', class:"btn btn-success") %>
  <% end %>
</div>
