<div class="jumbotron">
  <h3>Add new recipe to meal plan</h3>
  <%= form_for([@meal_plan, @meal_plan.meal_plan_recipes.build]) do |f| %>
    <div class="form-group">
      <%= f.label(:recipe_id) %>
      <%= f.collection_select(:recipe_id, @recipes, :id, :name, { prompt: true },
                              class: 'js-dropdown form-control' ) %>
    </div>
    <div class="form-group">
      <%= f.label :number_of_recipes %>
      <%= f.text_field :number_of_recipes, class: 'form-control' %>
    </div>
    <div class="form-group">
      <h4>Plan to have this recipe on first day of mealplan?</h4>
      <%= f.radio_button :first_day_recipe, 'true' %>
      <%= f.label :first_day_recipe_true, 'true' %>
      <%= f.radio_button :first_day_recipe, 'false' %>
      <%= f.label :first_day_recipe_true, 'false' %>
    </div>
    <%= f.submit('Add Recipe', class:"btn btn-success") %>
  <% end %>
</div>
