<h2 class="text-center">Create MealPlan</h2>
<%= form_for ([@meal_plan, @meal_plan.@meal_plan_recipes.build]) do |f| %>
  <%= label_tag('consumers') %>
  <%= select_tag(
    'consumer_id', 
    options_from_collection_for_select(
      @consumers, 
      'id', 
      'name' 
    )
  ) %>
  <%= f.label :recipe_id, (link_to recipe.name, recipe_path(recipe)) %>
  <%= f.number_field :recipe_id %>
  <%= f.submit("Create Meal Plan", class:"btn btn-primary") %>
<% end %>
