<h2 class="text-center">Assign recipes to a consumer</h2
<%= form_tag("/meal_plan_recipes/create", method: "post") do %>
  <form class="form-inline">
    <div class="form-group">
      <%= label_tag('consumers') %>
      <%= select_tag(
        'consumer_id', 
        options_from_collection_for_select(
          @consumers, 
          'id', 
          'name', 
          class:"form-control"
        )
      ) %>
    </div>
    <% @recipes.each do |recipe| %>
      <%= check_box_tag('recipe_ids[]', recipe.id) %>
      <%= label_tag('recipe_id[recipe.id]', (link_to recipe.name, recipe_path(recipe))) %>
    <% end %>
    <%= submit_tag("Create Meal Plan", class:"btn btn-primary") %>
  </form>
<% end %>
