Select recipes to create grocery list

<%= form_tag("/lists/new", method: "get") do %>
  <% @recipes.each do |recipe| %>
    <%= check_box_tag('recipe_ids[]', recipe.id) %>
    <%= label_tag('recipe_id[recipe.id]', recipe.name) %>
  <% end %>
  <%= submit_tag("Create List") %>
<% end %>

<% @recipes.each do |recipe| %>
  <li><%= link_to recipe.name, recipe_path(recipe) %></li>
<% end %>
