<div class="container-fluid">
  <div class="page-header">
    <h3>
      <%= @recipe.name %> (<%= @recipe.number_of_servings %> Servings)
    </h3>
    <small> 
      <%= link_to 'Edit', edit_recipe_path(@recipe) %>
      <%= link_to(
        'Delete', 
        recipe_path(@recipe), 
        method: :delete, 
        data: { confirm: 'Are you sure?' } 
      )%>
    </small>
  </div>
  <%= render 'recipe_ingredients/recipe_ingredient' %>
  <%= render 'recipe_ingredients/form' %>
  <% if @recipe.ingredients.present? %>
    <%= render 'ingredient_nutrients/daily_rda' %>
  <% end %>
</div>
