<%= form_for @ingredient do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  <%= f.label(:ndbno) %>
  <%= f.text_field(:ndbno) %>
  <%= f.label(:location_id) %>
  <%= f.collection_select(:location_id, @locations, :id, :name) %>
  <%= f.submit %>
<% end %>

<a href="https://ndb.nal.usda.gov/ndb/foods" target="_blank">Look up Ndbno</a>
