<%= form_for @ingredient do |f| %>
  <%= f.label(:name) %>
  <div class="input-group"><%= f.text_field(:name) %></div>
  <%= f.label(:ndbno) %>
  <div class="input-group"><%= f.text_field(:ndbno) %></div>
  <%= f.label(:location_id) %>
  <div class="input-group">
    <%= f.collection_select(:location_id, @locations, :id, :name) %>
  </div>
  <%= f.submit(class:"btn btn-default") %>
<% end %>

<h3>
  <a href="https://ndb.nal.usda.gov/ndb/foods" target="_blank">Look up Ndbno</a>
</h3>
