<form class="form-horizontal">
  <%= form_for @ingredient do |f| %>
    <div class="form-group">
      <%= f.label(:name, class:"col-sm-2 control-label") %>
      <div class="col-sm-10">
        <%= f.text_field(:name, class:"form-control") %>
      </div>
    </div>
      <%= f.label(:ndbno) %>
    <div class="input-group"><%= f.text_field(:ndbno) %></div>
    <%= f.label(:location_id) %>
      <%= f.collection_select(:location_id, @locations, :id, :name) %>
    </div>
    <%= f.submit(class:"btn btn-primary") %>
  <% end %>
</form>

<h3>
  <a href="https://ndb.nal.usda.gov/ndb/foods" target="_blank">Look up Ndbno</a>
</h3>
