<%= form_for @ingredient do |f| %>
  <form class="form-horizontal">
    <% [:name, :ndbno].each do |attribute| %>
      <div class="form-group">
        <%= f.label(attribute, class:"col-sm-2 control-label") %>
        <div class="col-sm-6">
          <%= f.text_field(attribute, class:"form-control") %>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label(:location_id, class:"col-sm-2 control-label") %>
        <div class="col-sm-6">
          <%= f.collection_select(:location_id, @locations, :id, :name, 
                                  class:"form-control") %>
        </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <%= f.submit(class:"btn btn-primary") %>
      </div>
    </div>
  </form>
<% end %>

<h3 class="text-center">
  <a href="https://ndb.nal.usda.gov/ndb/foods" target="_blank">Look up Ndbno</a>
</h3>
