<%= @ingredient.name %> 
<ul>
  <% @response.each do |nutrient| %>
    <li><%= nutrient['name'] %></li>
  <% end %>
</ul>
<% if @ingredient.ndbno.present? %>
  <table>
    <tr>
      <th>Nutrient Name</th>
      <th>100g equivalent value of nutrient</th>
    </tr>
    <tr>
      <td>Protein</td>
      <td><%= @parsed_nutrient_data['Water'] %></td> 
    </tr>
  </table>
<% end %>
<%= link_to 'Edit', edit_ingredient_path(@ingredient) %>
  <%= link_to(
    'Delete', 
    ingredient_path(@ingredient), 
    method: :delete, 
    data: { confirm: 'Are you sure?' } 
  )%>
