<% @groups.each do |group| %>
  <ul style="list-style-type:none">
    <li><strong>
      <% group_name = group.name.parameterize %>
      <%= image_tag(
        "plus_sign.png", 
        class: "plus-sign js-plus-sign-#{group_name}"
      ) %> 
      <%= image_tag(
        "minus_sign.png", 
        class: "minus-sign js-minus-sign-#{group_name}", 
        style: "display:none"
      ) %> 
      <%= group.name %>
    </strong></li>
  </ul>
  <div class="js-nutrient-info-<%= group_name %>" style="display:none">
    <% nutrient_ids = Nutrient.where(group_id: group.id).pluck(:id) %>
    <% nutrient_target_hash = IngredientNutrient.nutrient_target_hash %>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Intake</th>
        <th>Mick's Goal</th>
        <th>Adia's Goal</th>
      </tr> 
    <% @aggregate_nutrient_intake.each do |record| %>
      <% if nutrient_ids.include?(record['id'].to_i) %> 
        <tr>
          <td><%= record['name'] %></td>
          <td><%= record['amt_consumed'] %><%= record['amt_consumed_unit'] %></td>
          <%  nutrient_name_symbol = record['name'].to_sym %>
          <% if nutrient_target_hash.include?(nutrient_name_symbol) %>
            <td>
              <%= nutrient_target_hash[nutrient_name_symbol][:amount][:Mick] * 7 %> 
              <%= nutrient_target_hash[nutrient_name_symbol][:unit] %>
            </td>
            <td>
              <%= nutrient_target_hash[nutrient_name_symbol][:amount][:Adia] * 7 %>
              <%= nutrient_target_hash[nutrient_name_symbol][:unit] %>
            </td>
          <% end %>
        </tr>
      <% end %>
    <% end %></table>
  </div>
<% end %>
