<% @groups.each do |group| %>
  <ul style="list-style-type:none">
    <li><strong>
      <% group_name = group.name.parameterize %>
      <%= image_tag(
        "plus_sign.png", 
        class: "plus-sign", 
        class: "plus-sign-#{group_name}"
      ) %> 
      <%= image_tag(
        "minus_sign.png", 
        class: "minus-sign",
        class: "minus-sign-#{group_name}", 
        style: "display:none"
      ) %> 
      <%= group.name %>
    </strong></li>
  </ul>
  <ul class="list-group">
    <% nutrient_ids = Nutrient.where(group_id: group.id).pluck(:id) %>
    <% nutrient_target_hash = IngredientNutrient.nutrient_target_hash %>
    <% @aggregate_nutrient_intake.each do |record| %>
      <% if nutrient_ids.include?(record['id'].to_i) %> 
        <li class="nutrient-info-<%= group_name %> list-group-item" style="display:none">
          <table>
            <tr>
              <th>Name</th>
              <th>Intake</th>
              <th>Mick's Weekly Target</th>
              <th>Adia's Weekly Target</th>
            </tr>
            <tr>
              <td><%= record['name'] %></td>
              <td><%= record['amt_consumed'] %><%= record['amt_consumed_unit'] %></td>
              <%  nutrient_name_symbol = record['name'].to_sym %>
              <% if nutrient_target_hash.include?(nutrient_name_symbol) %>
                <td>
                  <%= nutrient_target_hash[nutrient_name_symbol][:amount][:Mick] * 7 %> 
                  <%= nutrient_target_hash[nutrient_name_symbol][:unit] %>
                </td>
                <td>
                  <%= nutrient_target_hash[nutrient_name_symbol][:amount][:Adia] * 7 %>
                  <%= nutrient_target_hash[nutrient_name_symbol][:unit] %>
                </td>
              <% end %>
            </tr>
          </table>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
