<% @groups.each do |group| %>
  <ul style="list-style-type:none">
    <li><strong>
      <% group_name = group.name.parameterize %>
      <%= image_tag(
        "plus_sign.png", 
        class: "plus-sign", 
        class: "plus-sign-#{group_name}"
      ) %> 
      <%= image_tag(
        "minus_sign.png", 
        class: "minus-sign",
        class: "minus-sign-#{group_name}", 
        style: "display:none"
      ) %> 
      <%= group.name %>
    </strong></li>
  </ul>
  <ul class="list-group">
    <% nutrient_ids = Nutrient.where(group_id: group.id).pluck(:id) %>
    <% @aggregate_nutrient_intake.each do |record| %>
      <% nutrient_id = Nutrient.where(name: record['name']).first.id %>
      <% if nutrient_ids.include?(nutrient_id) %> 
        <li class="nutrient-info-<%= group_name %> list-group-item" style="display:none">
          <%= record['name'] %> <%= record['amt_consumed'] %> <%= record['amt_consumed_unit'] %>  
        </li>
      <% end %>
    <% end %>
    </ul>
<% end %>
