<div class="jumbotron">
  <div class="page-header"><h3>Weekly RDA Nutrient Report</h3></div>
    <% @groups.each do |group| %>
      <ul style="list-style-type:none">
        <li><strong>
          <% group_name = group.name.parameterize %>
          <%= image_tag(
            "plus_sign.png", 
            class: "plus-sign js-plus-sign-#{group_name}"
          ) %> 
          <%= image_tag(
            "minus_sign.png", 
            class: "minus-sign js-minus-sign-#{group_name}", 
            style: "display:none"
          ) %> 
          <%= group.name %>
        </strong></li>
      </ul>
      <div class="js-nutrient-info-<%= group_name %>" style="display:none">
        <% daily_rda_hash = IngredientNutrient.daily_rda_hash %>
        <table class="table">
          <tr>
            <th>Nutrient</th>
            <th>Consumed</th>
            <th><%= @consumer %>'s RDA</th>
            <th>% <%= @consumer %>'s</th>
            <th>UL</th>
          </tr> 
        <% @aggregate_nutrient_intake.each do |record| %>
          <% if group.nutrients.ids.include?(record['id'].to_i) %> 
            <tr>
              <td><%= IngredientNutrient.nutrient_name(record) %></td>
              <td>
                <%= IngredientNutrient.total_nutrient_intake(
                  record, @meal_plan, @consumer
                ) %> 
                <%= record['amt_consumed_unit'] %>
              </td>
              <%  nutrient = IngredientNutrient.symbolized_nutrient_name(record) %>
              <% if daily_rda_hash.include?(nutrient) %>
                <% if IngredientNutrient.has_rda(nutrient) %>
                  <td>
                    <%= IngredientNutrient.weekly_rda(nutrient, @consumer.to_sym) %> 
                    <%= IngredientNutrient.unit(nutrient) %>
                  </td>
                  <td>
                    <%= IngredientNutrient.percent_rda(
                      IngredientNutrient.total_nutrient_intake(
                        record, 
                        @meal_plan, 
                        @consumer
                      ),
                      IngredientNutrient.weekly_rda(nutrient, @consumer.to_sym) 
                    ) %> 
                  </td>
                <% else %>
                  <% 2.times do %> 
                    <td>No RDA</td>
                  <% end %>
                <% end %>
                <td>
                  <% if IngredientNutrient.has_upper_limit(nutrient) %>
                    <%= IngredientNutrient.weekly_upper_limit(nutrient) %>
                    <%= IngredientNutrient.unit(nutrient) %>
                  <% end %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %></table>
      </div>
    <% end %>
</div>
