<div class="jumbotron">
  <div class="page-header"><h3>Weekly RDA Nutrient Report</h3></div>
    <% @groups.each do |group| %>
      <ul style="list-style-type:none">
        <li><strong>
          <% group_name = group.name.parameterize %>
          <%= image_tag(
            "plus_sign.png", 
            class: "plus-sign js-plus-sign-#{group_name}"
          ) %> 
          <%= image_tag(
            "minus_sign.png", 
            class: "minus-sign js-minus-sign-#{group_name}", 
            style: "display:none"
          ) %> 
          <%= group.name %>
        </strong></li>
      </ul>
      <div class="js-nutrient-info-<%= group_name %>" style="display:none">
        <table class="table">
          <tr>
            <th>Nutrient</th>
            <th>Unit</th>
            <th>Consumed</th>
            <th><%= @consumer %>'s RDA</th>
            <th>% <%= @consumer %>'s</th>
            <th>UL</th>
          </tr> 
        <% @aggregate_nutrient_intake.each do |record| %>
          <% if group.nutrients.ids.include?(record['id'].to_i) %> 
            <tr>
              <td>
                <%= nutrient_name = IngredientNutrient.nutrient_name(record) %>
              </td>
              <td><%= record['amt_consumed_unit'] %></td>
              <td>
                <%= total_nutrient_intake = IngredientNutrient.total_nutrient_intake(
                  record, 
                  @mealsquare_nutrition, 
                  @soylent_nutrition
                ) %> 
              </td>
              <td>
                <% daily_rda = 
                  ConsumerNutrient.daily_rda(nutrient_name, @consumer_rdas) %> 
                <%= weekly_rda = ConsumerNutrient.weekly_rda(daily_rda) %> 
              </td>
              <td>
                <%= IngredientNutrient.percent_rda(total_nutrient_intake, weekly_rda) %> 
              </td>
              <td>
                <% upper_limit = Nutrient.upper_limit(
                  @nutrients_upper_limit,
                  nutrient_name
                ) %>
                <%= Nutrient.weekly_upper_limit(upper_limit) %>
              </td>
            </tr>
          <% end %>
        <% end %></table>
      </div>
    <% end %>
</div>
