<h5 class="mt-5">Nutrient Report</h5>
<% NutrientGroup.includes_nutrients.each do |group| %>
  <ul class="list-group">
    <li class="list-group-item">
      <%= image_tag(
        "plus_sign.png",
        class: "plus-sign js-plus-sign-#{group.name.parameterize}"
      ) %>
      <%= image_tag(
        "minus_sign.png",
        class: "minus-sign js-minus-sign-#{group.name.parameterize}",
        style: "display:none"
      ) %>
      <%= group.name %>
    </li>
  </ul>
  <div class="js-nutrient-info-<%= group.name.parameterize %>" style="display:none">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nutrient</th>
        <th>Unit</th>
        <th>Amount</th>
        <th>Percent of RDA</th>
        <th>UL</th>
      </tr>
    </thead>
    <% nutrition.each do |record| %>
      <% if group.nutrients.ids.include?(record['id'].to_i) %>
        <% nutrient = Nutrient.find_by(name: record['name']) %>
        <tbody>
          <tr>
            <td><%= nutrient.name %></td>
            <td><%= record['amt_consumed_unit'] %></td>
            <td><%= intake = record['amt_consumed'].to_f.round(2) %></td>
            <td>
              <%= consumer.consumer_nutrients.find_by(nutrient_id: nutrient.id)
                &.percent_rda(intake, number_of_days) || ''
              %>
            </td>
            <td><%= nutrient.upper_limit || '' %></td>
          </tr>
        </tbody>
      <% end %>
    <% end %></table>
  </div>
<% end %>
