<div class="container-fluid">
  <div class="page-header">
    <h3>Daily Meal Plan for <%= @consumer.name %> for <%= @date %></h3>
  </div>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <%= link_to('Weekly', meal_plan_path(@meal_plan), class: "nav-link") %>
    </li>
    <% @meal_plan.dates.each do |date| %>
      <% if date == @date %>
        <% nav_class = "nav-link active" %>
      <% else %>
        <% nav_class = "nav-link" %>
      <% end %>
      <li class="nav-item">
        <%= link_to(
          date,
          meal_plan_meal_plan_day_path(@meal_plan, date),
          class: nav_class
        ) %>
      </li>
    <% end %>
  </ul>
  <div class="jumbotron">
    <h3>Add new recipe to meal plan</h3>
    <%= form_for([@meal_plan, @meal_plan.meal_plan_recipes.build]) do |f| %>
      <%= f.hidden_field(:date, value: @date) %>
      <div class="form-group">
        <%= f.label(:recipe_id) %>
        <%= f.collection_select(:recipe_id, @recipes, :id, :name, { prompt: true },
                                class: 'js-dropdown form-control' ) %>
      </div>
      <div class="form-group">
        <h4>Plan to have this recipe on first day of mealplan?</h4>
        <%= f.radio_button :first_day_recipe, 'true' %>
        <%= f.label :first_day_recipe_true, 'true' %>
        <%= f.radio_button :first_day_recipe, 'false' %>
        <%= f.label :first_day_recipe_true, 'false' %>
      </div>
      <%= f.submit('Add Recipe', class:"btn btn-success") %>
    <% end %>
  </div>
  <% if @meal_plan_recipes %>
    <div class="jumbotron">
      <table class="table">
        <tr>
          <th>Recipe</th>
          <th>Actions</th>
        </tr>
        <% @meal_plan_recipes.each do |mpr| %>
          <% if mpr.recipe %>
            <tr>
              <td><%= link_to mpr.recipe.name, recipe_path(mpr.recipe) %></td>
              <td>
                <%= link_to(
                  'Delete',
                  meal_plan_recipe_path(mpr),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }
                ) %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
    <div class="jumbotron">
      <div class="page-header"><h3>Daily RDA Nutrient Report</h3></div>
        <% @groups.each do |group| %>
          <ul style="list-style-type:none">
            <li><strong>
              <% group_name = group.name.parameterize %>
              <%= image_tag(
                "plus_sign.png",
                class: "plus-sign js-plus-sign-#{group_name}"
              ) %>
              <%= image_tag(
                "minus_sign.png",
                class: "minus-sign js-minus-sign-#{group_name}",
                style: "display:none"
              ) %>
              <%= group.name %>
            </strong></li>
          </ul>
          <div class="js-nutrient-info-<%= group_name %>" style="display:none">
            <table class="table">
              <tr>
                <th>Nutrient</th>
                <th>Unit</th>
                <th>Amount</th>
                <th><%= @consumer.name %>'s RDA</th>
                <th>% <%= @consumer.name %>'s </th>
                <th>UL</th>
              </tr>
            <% @aggregate_nutrient_intake.each do |record| %>
              <% if group.nutrients.ids.include?(record['id'].to_i) %>
                <% nutrient_name = Nutrient.nutrient_name(record) %>
                <tr>
                  <td><%= nutrient_name %></td>
                  <td><%= record['amt_consumed_unit'] %></td>
                  <td>
                    <%= nutrition = (
                      record['amt_consumed'].to_f +
                      @meal_plan.nutrient_intake_from_custom_food(
                        @mealsquare,
                        nutrient_name
                      ) + @meal_plan.nutrient_intake_from_custom_food(
                        @soylent,
                        nutrient_name
                      )
                    ).round(2) %>
                  </td>
                  <td>
                    <%= daily_rda = ConsumerNutrient.daily_rda(
                          nutrient_name,
                          @consumer_rdas
                        )
                    %>
                  </td>
                  <td><%= ConsumerNutrient.percent_rda(nutrition, daily_rda) %></td>
                  <td><%= Nutrient.upper_limit(@nutrients_upper_limit, nutrient_name) %></td>
                </tr>
              <% end %>
            <% end %></table>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
