<div class="container-fluid">
  <div class="page-header">
    <h3>Daily Meal Plan for <%= @consumer.name %> for <%= @date %></h3>
  </div>
  <%= render 'meal_plan_recipes/form',
    locals: { meal_plan: @meal_plan, recipes: @recipes, date: @date } %>
  <% if @meal_plan_recipes %>
    <div class="jumbotron">
      <table class="table">
        <tr>
          <th>Recipe</th>
          <th>Actions</th>
        </tr>
        <% @meal_plan_recipes.each do |mpr| %>
          <% if mpr.recipe %>
            <tr>
              <td><%= link_to mpr.recipe.name, recipe_path(mpr.recipe) %></td>
              <td>
                <%= link_to(
                  'Delete',
                  meal_plan_recipe_path(mpr),
                  method: :delete,
                  data: { confirm: 'Are you sure?' }
                ) %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
    <div class="jumbotron">
      <div class="page-header"><h3>Daily RDA Nutrient Report</h3></div>
        <% @groups.each do |group| %>
          <ul style="list-style-type:none">
            <li><strong>
              <% group_name = group.name.parameterize %>
              <%= image_tag(
                "plus_sign.png",
                class: "plus-sign js-plus-sign-#{group_name}"
              ) %>
              <%= image_tag(
                "minus_sign.png",
                class: "minus-sign js-minus-sign-#{group_name}",
                style: "display:none"
              ) %>
              <%= group.name %>
            </strong></li>
          </ul>
          <div class="js-nutrient-info-<%= group_name %>" style="display:none">
            <table class="table">
              <tr>
                <th>Nutrient</th>
                <th>Unit</th>
                <th>Amount</th>
                <th><%= @consumer.name %>'s RDA</th>
                <th>% <%= @consumer.name %>'s </th>
                <th>UL</th>
              </tr>
            <% @aggregate_nutrient_intake.each do |record| %>
              <% if group.nutrients.ids.include?(record['id'].to_i) %>
                <% nutrient_name = Nutrient.nutrient_name(record) %>
                <tr>
                  <td><%= nutrient_name %></td>
                  <td><%= record['amt_consumed_unit'] %></td>
                  <td>
                    <%= nutrition = (
                      record['amt_consumed'].to_f +
                      @meal_plan.nutrient_intake_from_custom_food(
                        @mealsquare,
                        nutrient_name
                      ) + @meal_plan.nutrient_intake_from_custom_food(
                        @soylent,
                        nutrient_name
                      )
                    ).round(2) %>
                  </td>
                  <td>
                    <%= daily_rda = ConsumerNutrient.daily_rda(
                          nutrient_name,
                          @consumer_rdas
                        )
                    %>
                  </td>
                  <td><%= ConsumerNutrient.percent_rda(nutrition, daily_rda) %></td>
                  <td><%= Nutrient.upper_limit(@nutrients_upper_limit, nutrient_name) %></td>
                </tr>
              <% end %>
            <% end %></table>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
