<!DOCTYPE html>
<html>
<head>
  <title>Grocery List</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified CSS -->
  <link 
    rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" 
    crossorigin="anonymous"
  >

  <!-- Optional theme -->
  <link 
    rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" 
    integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" 
    crossorigin="anonymous"
  >
</head>
<body>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script 
    src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Latest compiled and minified JavaScript -->
  <script 
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
    integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" 
    crossorigin="anonymous">
  </script>

  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/recipes"><%= image_tag "cookbook.png" %></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/recipes/new"><%= image_tag "book.png" %></a></li>
          <li class="dropdown">
            <a href="#" 
              class="dropdown-toggle" 
              data-toggle="dropdown" 
              role="button" 
              aria-haspopup="true" 
              aria-expanded="false"
              ><%= image_tag "fruit.png" %><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/ingredients">Ingredient List</a></li>
              <li><a href="/ingredients/new">Add Ingredient</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" 
              class="dropdown-toggle" 
              data-toggle="dropdown" 
              role="button" 
              aria-haspopup="true" 
              aria-expanded="false"
              ><%= image_tag "consumer.png" %><span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/consumers">Consumers</a></li>
              <li><a href="/consumers/new">Add Consumer</a></li>
              <li><a href="/meal_plan_recipes/new">Add Mealplan for a consumer</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <%= yield %>
    <div class="container-fluid">

  <%= javascript_include_tag 'application' %>
  <% require 'pry' %>
  <%= yield :extra_footer %>
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      Icons made by 
      <a href="http://www.freepik.com" title="Freepik" target="_blank">Freepik</a> from 
      <a href="http://www.flaticon.com" title="Flaticon" target="_blank">www.flaticon.com</a> 
      is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" 
        title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    </div>
  </nav>
</body>
</html>
