<!DOCTYPE html>
<html>
<head>
  <title>Grocery List</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>

  <nav class="navbar navbar-expand navbar-dark fixed-top bg-dark">
    <div class="navbar-nav">
      <% ['Recipes', 'Ingredients', 'MealPlans'].each do |model| %>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown">
            <%= model %>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/<%= model.underscore %>">View</a>
            <a class="dropdown-item" href="/<%= model.underscore %>/new">Add</a>
          </div>
        </div>
      <% end %>
    </ul>
  </nav>

  <div class="container">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
