<!DOCTYPE html>
<html>
<head>
  <title>Grocery List</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body id="adia-body">
  <%- flash.each do |key, value| -%>
    <div class="flash flash-<%= key %>">
      <%= value %>
    </div>
  <%- end -%>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="navbar-link dropdown-toggle" data-toggle="dropdown">
            Recipes
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/recipes">View</a>
            <a class="dropdown-item" href="/recipes/new">Add</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="navbar-link dropdown-toggle" data-toggle="dropdown">
            Ingredients
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/ingredients">View</a>
            <a class="dropdown-item" href="/ingredients/new">Add</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="navbar-link dropdown-toggle" data-toggle="dropdown">
            MealPlans
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/meal_plans">View</a>
            <a class="dropdown-item" href="/meal_plans/new">Add</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  <% require 'pry' %>
</body>
</html>
